* {
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    color: var(--main-font-color);
}

.full-screen {
    height: 100vh;
    width: 100%;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.no-select {
    user-select: none;
}

.display-none {
    display: none;
}

input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    outline: none;
    background-color: var(--white);
    border: 1px solid var(--input-border-color);
}

input:focus {
    border: 1px solid darkblue;
}

input::placeholder {
    color: var(--input-placeholder-color);
}

:root {
    --main-font-color: #333;
    --main-button-background-color: lightgrey;
    --main-button-border-color: #999;
    --input-border-color: #999;
    --input-placeholder-color: #888;
    --white: #fff;
}

.title {
    padding: 25px;
    font-size: 25px;
}

.modal {
    width: 30vw;
    box-shadow: 5px 10px 8px #888888;
    position: absolute;
    top: 10vh;
    background-color: var(--white);
    left: 35vw;
    border: 1px solid var(--main-button-border-color);
    border-radius: 10px;
}

.modal .inputs-wrapper {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.modal button {
    color: #fff;
    border: 2px solid darkblue;
    text-transform: uppercase;
    font-size: 14px;
    background: darkblue;
    padding: 5px 20px;
    margin: 0px 5px;
}

.modal-input {
    height: auto;
}

.modal .body-wrapper {
    margin: 25px;
}

.button {
    position: relative;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid darkblue;
    padding: 10px 25px;
    text-transform: uppercase;
    overflow: hidden;
    margin: 10px 25px;
    transition: 1s all ease;
}

.button:hover {
    color: #fff;
}

.button::before {
    background: darkblue;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
}

.button:hover::before {
    width: 100%;
}
