.username-input-container {
    height: 39px;
    width: 240px;
}

#username-input {
    font-size: 16px;
}

#submit-button {
    height: 39px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 15px;
    margin-left: 10px;
}

.login-flex {
    display: flex;
    align-items: center;
}
