#rooms-wrapper {
    display: flex;
}

.room {
    border: 1px solid darkblue;
    margin: 10px 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    min-width: 200px;
}

.room-name {
    font-size: large;
    font-weight: bold;
}

.join-btn {
    padding: 5px 20px;
}
